build/
install/
log/
__pycache__/
*.pyc
.DS_Store
data_training/images/
data_training/labels/
data_raw/converted_mp4_videos/
data_raw/labelled_data/
data_raw/ros_bags/
data_training/runs
data_training/data_person/
data_training/data_teleco/
data_training/results/